<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Services</h1>
  <p class="lead">
    Hier können sie das gewünschte Servicepaket auswählen.
  </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Angular Projekt</h4>
      </div>
      <div class="card-body">
        <fa-icon
          [icon]="faAngular"
          size="6x"
          [styles]="{ color: '#b52e31' }"
        ></fa-icon>
        <h1 class="card-title pricing-card-title">
          €0 <small class="text-muted">/ Stunde</small>
        </h1>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Kaufen
        </button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">React Projekt</h4>
      </div>
      <div class="card-body">
        <fa-icon
          [icon]="faReact"
          size="6x"
          [styles]="{ color: '#61DBFB' }"
        ></fa-icon>
        <h1 class="card-title pricing-card-title">
          €0 <small class="text-muted">/ Stunde</small>
        </h1>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Kaufen
        </button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Vue Projekt</h4>
      </div>
      <div class="card-body">
        <fa-icon
          [icon]="faVuejs"
          size="6x"
          [styles]="{ color: '#41B883' }"
        ></fa-icon>
        <h1 class="card-title pricing-card-title">
          €0 <small class="text-muted">/ Stunde</small>
        </h1>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Kaufen
        </button>
      </div>
    </div>
  </div>
</div>
